.page {
  height: 100vh;
  overflow-y: auto;
  // Включаем обязательную привязку к секциям
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  /* Скрываем дефолтный скроллбар для чистоты дизайна */
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* универсальный layout для всех секций */
.section {
  height: 100vh;

  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: center;
}
